body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .game-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .score {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .result {
    font-size: 32px; /* Update the font size here to make the result text bigger */
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #ccc;
    display: inline-block;
  }
  
  .choice {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .choice i {
    margin-right: 10px;
  }
  
  .choice:hover {
    background-color: #ddd;
  }  
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    cursor: pointer;
  }
  .win {
    color: green;
  }
  
  .lose {
    color: red;
  }
  